
<h1>Kies een actie

    <p> <a href="/fietsTypes">Alle fietsTypes tonen.(JSON)</a></p>
    <p> <a href="/merken">Alle merken tonen.(JSON) </a></p><br/>
    <p> <a href="/fietsTypes/overview">Alle fietsTypes beheren.</a></p>
    <p> <a href="/merken/overview">Alle merken beheren.(hier fietstypes toevoegen) </a></p><br/>
    <p> <a href="/fietsTypes/new">Nieuw fietstype maken.</a></p>
    <p> <a href="/merken/new">Nieuw merk maken.</a></p><br/>

</h1>
