<!doctype html>
<!--test-->
<html ng-app="tweewielers">
<head>
    <!--<meta charset="utf-8">-->
    <title>Tweewielers Vermeulen</title>
    <link rel="stylesheet" href="css/main.css">




    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width ,maximum-scale=1">

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--bootstrap overrides css-->
    <link href="css/bootstrap-overrides.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/flexslider.css" rel="stylesheet" type="text/css">
    <link href="icons/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>
    <!--revolution slider setting css-->
    <link href="rs-plugin/css/settings.css" rel="stylesheet">
    <!--animated css 3-->
    <link href="css/animate.css" rel="stylesheet">
    <!--owl carousel css-->
    <link href="css/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900' rel='stylesheet' type='text/css'>
    <link href="css/prettyPhoto.css" rel="stylesheet" type="text/css" />

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>-->
    <link rel="shortcut icon" href="images/logoV.gif">
    <!-- endbuild -->

    <script src="../lib/angular.js"></script>
    <script src="../lib/angular-route.js"></script>

    <script src="js/angular/app.js"></script>

    <script src="js/angular/fietstypeService.js"></script>

</head>

<body  ng-controller="MainCtrl" data-spy="scroll" data-target=".navbar" data-offset="80">


<!--Navigatie-->
<nav class="navbar navbar-default navbar-fixed-top before-color">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right scroll-to">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#about">Over ons</a></li>
                <li><a href="#catalogus">Catalogus</a></li>
                <li><a href="#footerbox">Contact</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>


<!--Banner-->
<div class="fullwidthbanner" id="home">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE 1 -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                <!-- MAIN IMAGE -->
                <img src="images/img1.jpg" alt="banner" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption slider-title" data-x="center" data-y="center"    data-voffset="-30" data-speed="500" data-start="1200" data-easing="Power4.easeInOut">
                    <span><img src="images/twee.png" alt="logoTweewielersVermeulen" class="logo"></span>

                </div> <!-- /tp-caption -->
                <!-- LAYER NR. 2 -->


                <!-- LAYER NR. 3 -->
                <div class="tp-caption slider-button scroll-to" data-x="center" data-y="center" data-voffset="120" data-speed="500" data-start="2400" data-easing="Power4.easeInOut" data-captionhidden="on">
                    <a class="btn btn-white" href="#about">Ga verder</a>
                </div> <!-- /tp-caption -->
            </li>

        </ul>
    </div>
</div><!--full width banner-->
<!--Over ons-->
<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="section-title text-center">
                    <h1> Over ons</h1>
                    <span class="border-line"></span>
                    <p class="lead ">
                        Tweewielers Vermeulen is een solide familiebedrijf dat in 1922 werd opgericht door Jozef Vermeulen en tot 1979 gevestigd was in Driekoningenstraat. In 1960 nam zijn zoon Lucien de
                        zaak over en breidde ze verder uit. Na de onteigening van het pand in Driekoningen verhuisde de zaak naar de Mercatorstraat.</p>
                    <p class="lead ">Het bedrijf wordt nu gerund door Jef en Tom, de twee zonen van Lucien, bijgestaan door meerdere <span>gespecialiseerde vakmensen</span>.
                        Tweewielers Vermeulen heeft door de jaren heen een stevige reputatie opgebouwd op het gebied van <span>vakkundige service na verkoop</span>.</p>
                    </p>
                </div>
            </div>
        </div><!--heading row-->


        <div class="row">
            <div class="col-sm-4">
                <div class="entry-thumb portfolio-thumb">
                    <div class="imgoverlay text-light">
                        <a href="images/gallery/g1.jpg" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                            <img src="images/gallery/g1small.jpg" class="img-responsive" alt="">
                            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Vergroot</h6></div></div>
                        </a>
                    </div>
                </div>
            </div><!--work col-->
            <div class="col-sm-4">
                <div class="entry-thumb portfolio-thumb">
                    <div class="imgoverlay text-light">
                        <a href="images/gallery/g2.jpg" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                            <img src="images/gallery/g2small.jpg" class="img-responsive" alt="">
                            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Vergroot</h6></div></div>
                        </a>
                    </div>
                </div>
            </div><!--work col-->
            <div class="col-sm-4">
                <div class="entry-thumb portfolio-thumb">
                    <div class="imgoverlay text-light">
                        <a href="images/gallery/g3.jpg" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                            <img src="images/gallery/g3small.jpg" class="img-responsive" alt="">
                            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Vergroot</h6></div></div>
                        </a>
                    </div>
                </div>
            </div><!--work col-->
        </div><!--work row-->
        <div class="row">
            <div class="col-sm-4">
                <div class="entry-thumb portfolio-thumb">
                    <div class="imgoverlay text-light">
                        <a href="images/gallery/g4.jpg" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                            <img src="images/gallery/g4small.jpg" class="img-responsive" alt="">
                            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Vergroot</h6></div></div>
                        </a>
                    </div>
                </div>
            </div><!--work col-->
            <div class="col-sm-4">
                <div class="entry-thumb portfolio-thumb">
                    <div class="imgoverlay text-light">
                        <a href="images/gallery/g5.jpg" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                            <img src="images/gallery/g5small.jpg" class="img-responsive" alt="">
                            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Vergroot</h6></div></div>
                        </a>
                    </div>
                </div>
            </div><!--work col-->
            <div class="col-sm-4">
                <div class="entry-thumb portfolio-thumb">
                    <div class="imgoverlay text-light">
                        <a href="images/gallery/g6.jpg" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                            <img src="images/gallery/g6small.jpg" class="img-responsive" alt="">
                            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Vergroot</h6></div></div>
                        </a>
                    </div>
                </div>
            </div><!--work col-->
        </div><!--work row-->
        <div class="row">
            <div class="col-sm-4">
                <div class="entry-thumb portfolio-thumb">
                    <div class="imgoverlay text-light">
                        <a href="images/gallery/g7.jpg" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                            <img src="images/gallery/g7small.jpg" class="img-responsive" alt="">
                            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Vergroot</h6></div></div>
                        </a>
                    </div>
                </div>
            </div><!--work col-->
            <div class="col-sm-4">
                <div class="entry-thumb portfolio-thumb">
                    <div class="imgoverlay text-light">
                        <a href="images/gallery/g8.jpg" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                            <img src="images/gallery/g8small.jpg" class="img-responsive" alt="">
                            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Vergroot</h6></div></div>
                        </a>
                    </div>
                </div>
            </div><!--work col-->
            <div class="col-sm-4">
                <div class="entry-thumb portfolio-thumb">
                    <div class="imgoverlay text-light">
                        <a href="images/gallery/g9.jpg" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                            <img src="images/gallery/g9small.jpg" class="img-responsive" alt="">
                            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Vergroot</h6></div></div>
                        </a>
                    </div>
                </div>
            </div><!--work col-->
        </div><!--work row-->
    </div>
</section><!--work section end Gallery-->


<div class="fietsen parallax-1">

</div>




<br/>

<div class="container wow animated fadeInUp" data-wow-delay="300ms" id="catalogus">
    <div class="center-heading">
        <h2>Fietsen</h2><br/>
    </div>
    <div>


        </ul>


            <!--Voor elk merk een box maken-->
            <div     ng-repeat="merk in merken"    class="portfolio-box iso-call col-3">
                <div class="project-post {{merk.fietsTypes}} scooters motos">
                    <div class="img">
                    <a href="//{{merk.url}}"  target="_blank" > <img src="images/{{merk.naam}}.jpg" class="img-responsive" alt="{{merk.naam}} logo"></a>
                        <div class="over">
                            <div class="img-desc">
                                <p> {{merk.omschrijving}}</p>
                                <p>
                                    Type fietsen: {{fietstypeNamenAanvullen(merk,fietsen)}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!--project post-->
            </div>
        </div>





  </div><!--container-->

<br/>



<!--<div class="divide70"></div>-->

<div class="brommers parallax-1">

</div>

<div class="container wow animated fadeInUp" data-wow-delay="300ms">
    <div class="center-heading">
        <h2>Scooters & moto's</h2><br/>
    </div>
    <div>
        <ul class="filter list-inline">
            <li><a class="active" href="#" data-filter="*">Toon alles</a></li>
            <li><a href="#" data-filter=".scooters">Scooters</a></li>
            <li><a href="#" data-filter=".motos">Moto's</a></li>

        </ul>

        <div class="portfolio-box iso-call col-3">
            <div class="project-post motos">
                <div class="img">
                  <a href="http://www.fl.honda.be/motorcycles.html" target="_blank"> <img src="images/honda.jpg" class="img-responsive" alt=""></a>
                    <a href="#" class="over">
                        <div class="img-desc">

                            <p>
                           
                            </p>
                        </div>
                    </a>
                </div>
            </div><!--project post-->
            <div class="project-post motos">
                <div class="img">
                    <a href="http://www.be.vespa.com/be/index.html#" target="_blank">    <img src="images/vespa.jpg" class="img-responsive" alt=""></a>
                    <a href="#" class="over">
                        <div class="img-desc">

                            <p>
                           
                            </p>
                        </div>
                    </a>
                </div>
            </div><!--project post-->
            <div class="project-post scooters">
                <div class="img">
                    <a href="http://www.be.nl.piaggio.com/piaggio/BE/nl/modelli-intro/visualizza-l-intera-gamma.html" target="_blank">     <img src="images/piaggio.jpg" class="img-responsive" alt=""></a>
                    <a href="#" class="over">
                        <div class="img-desc">

                            <p>
                           
                            </p>
                        </div>
                    </a>
                </div>
            </div><!--project post-->
            <div class="project-post scooters">
                <div class="img">
                    <a href="http://www.tgb.com.tw/" target="_blank">     <img src="images/tgb.jpg" class="img-responsive" alt=""></a>
                    <a href="#" class="over">
                        <div class="img-desc">

                            <p>
                           
                            </p>
                        </div>
                    </a>
                </div>
            </div><!--project post-->

        </div>
    </div>
</div><!--container-->


<div class="container wow animated fadeInUp" data-wow-delay="300ms">
    <div class="center-heading">
        <h2>Fitness</h2><br/>
    </div>

        <p>We bieden volgend gamma aan.</p>
        <a href="http://www.tunturi.com/nl/producttype/hometrainer/" target="_blank"><img src="/images/tunturi.jpg" alt="tunturi" class="merk" id="tunturi"></a>



        <h2>Accessoires</h2>
        <p>Tweewielers Vermeulen biedt een wijd gamma aan accessoires voor fietsen, scooters, etc. Kom langs in onze winkel voor meer informatie!</p>
<br/>
</div>









<footer class="footer">
    <div class="container text-center" id="footerbox">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="row contact-details">

                        <div class="col-sm-4 margin-bottom30 text-center">
                            <i class="ion-ios-location-outline"></i>
                            <h4>Mercatorstraat 78, Sint-Niklaas</h4>
                        </div>
                        <div class="col-sm-4 margin-bottom30 text-center">
                            <i class="ion-ios-email-outline"></i>
                            <h4>tweewielersvermeulen@skynet.be</h4>
                        </div>
                        <div class="col-sm-4 margin-bottom30 text-center">
                            <i class="ion-ios-telephone-outline"></i>
                            <h4>03 776 11 72</h4>
                        </div>


                    </div><!--contact details-->
                </div>
            </div>




            <div winkel-open
                ></div>



         			<div align="center"><table border="0" cellspacing="2" >
                            <tbody><tr>
                                <td width="200"><strong>Maandag-Vrijdag:</strong></td>
                                <td>08.00u - 12.15u</td>
                                <td align="right" width="111">13.00u - 18.30u</td>
                            </tr>

                            <tr>
                                <td><strong>Zaterdag:</strong></td>
                                <td>09.00u - 12.30u</td>
                                <td align="right">13.30u - 17.00u</td>
                            </tr>

                            <tr>
                                <td><strong>Zondag:</strong></td>
                                <td colspan="2" align="center">Gesloten</td>
                            </tr>

                            </tbody></table>
                    </div>


<br/>
        <span class="copyright">

           Tweewielers Vermeulen | Alle rechten voorbehouden | 2013       <a href="https://www.facebook.com/TweewielersVermeulen/?fref=ts" target="_blank" ><i class="icon icon-social-facebook"></i></a>

            </span>    </div>   </div>

</footer>





<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/jquery-migrate.min.js" type="text/javascript"></script>
<script src="js/moderniz.min.js" type="text/javascript"></script>
<script src="js/jquery.easing.1.3.js" type="text/javascript"></script>
<!-- bootstrap js-->
<script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/owl.carousel.min.js" type="text/javascript"></script>
<script src="js/jquery.isotope.min.js" type="text/javascript"></script>
<script src="js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
<script src="js/wow.min.js" type="text/javascript"></script>


<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="js/parallax.min.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
<!--revolution slider scripts-->
<script src="rs-plugin/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
<script src="rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
<script src="js/template.js" type="text/javascript"></script>

<script src="js/theme.js" type="text/javascript"></script>

</body>
</html>
