<h1>
    <%= merk._id %>
</h1>

<form action="/merken/<%=merk._id%>/edit" method="post"   name="editmerk">
    <p>Naam:
        <input id="naam" type="text" placeholder="Trek" value="<%=merk.naam%>" name="naam"/></p>

    <p>website:
        <input id="url" type="text" placeholder="www.trek.be" value="<%=merk.url%>" name="url"/>  </p>

    <p>omschrijving
        <input id="omschrijving" type="text" placeholder="Dit merk is,.." value="<%=merk.omschrijving%>" name="omschrijving"/>  </p>

        <button id="btnSubmit" type="submit">submit</button>

</form>
