<h1>
    <%= title %>
</h1>
<form id="formAddMerk" name="addmerk" method="post" action="/merken">
    <p>Naam:
        <input id="naam" type="text" placeholder="Trek" name="naam"/>

    </p>
    <p>Website:
        <input id="url" type="text" placeholder="www.trek.be" name="url"/>

    </p>
    <p>Omschrijving:
        <input id="omschrijving" type="text" placeholder="Dit merk is,.." name="omschrijving"/>

    </p>
    <p>



        <button id="btnSubmit" type="submit">submit</button>
    </p>
</form>