

<h1>    <%= title %></h1>
<ul>
    <% for(var i=0; i<merken.length; i++) {%>
    <li><%= merken[i].naam %></li>

    <form action="/merken/<%=merken[i]._id%>/edit" method='post',enctype='application/x-www-form-urlencodes'>
        <input type="hidden" value="DELETE" name="_method"/>
        <button type="submit">Verwijder</button>

        <p><a href="/merken/<%=merken[i]._id%>/edit">Edit</a></p>
        <p><a href="/merken/<%=merken[i]._id%>">Toon object (JSON)</a></p>
        <p><a href="/merken/<%=merken[i]._id%>/typesToevoegen">Voeg fietstypes toe aan dit merk.</a></p>


    </form>
    <% } %>

</ul>