

<h1>    <%= title %></h1>
<p>huidige:  |<% for(var i=0; i<merk.fietsTypes.length; i++) {%><%= merk.fietsTypes[i].naam%>| <% } %></p>

<ul>
    <% for(var i=0; i<fietsTypes.length; i++) {%>
    <li>    <a href="/merken/<%=merk._id%>/typesToevoegen/<%=fietsTypes[i]._id%>">    <%=fietsTypes[i].naam %>    </a>  </li>

    <% } %>

</ul>




<form action="/merken/<%=merk._id%>/typesToevoegen" method='post',enctype='application/x-www-form-urlencodes'>
    <input type="hidden" value="DELETE" name="_method"/>
    <button type="submit">Clear</button>

</form>
