<h1>
    <%= fietsType._id %>
</h1>

<form action="/fietsTypes/<%=fietsType._id%>/edit" method="post"   name="editfietsType">
    <p>Naam:
        <input id="naam" type="text" placeholder="Kinderfiets" value="<%=fietsType.naam%>" name="naam"/>

    </p>

    <p>
        <button id="btnSubmit" type="submit">submit</button>
    </p>
</form>
