<h1>
    <%= title %>
</h1>
<form id="formAddFietsType" name="addfietsType" method="post" action="/fietsTypes">
    <p>Naam:
        <input id="naam" type="text" placeholder="Kinderfiets" name="naam"/>

    </p>
    <p>
        <button id="btnSubmit" type="submit">submit</button>
    </p>
</form>