

<h1>    <%= title %></h1>
<ul>
    <% for(var i=0; i<fietsTypes.length; i++) {%>
    <li><%= fietsTypes[i].naam %></li>

    <form action="/fietsTypes/<%=fietsTypes[i]._id%>/edit" method='post',enctype='application/x-www-form-urlencodes'>
        <input type="hidden" value="DELETE" name="_method"/>
        <button type="submit">Verwijder</button>

        <p><a href="/fietsTypes/<%=fietsTypes[i]._id%>/edit">Edit</a></p>
        <p><a href="/fietsTypes/<%=fietsTypes[i]._id%>">Toon object (JSON)</a></p>


    </form>
    <% } %>

</ul>